# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps
'atom-workspace':
  'ctrl-alt-t ctrl-alt-t': 'atox:toggle'
  'ctrl-alt-t ctrl-alt-i': 'atox:addP1'
  'ctrl-alt-t ctrl-alt-w': 'atox:addP2'
  'ctrl-alt-t ctrl-alt-e': 'atox:addP3'
  'ctrl-alt-t ctrl-alt-a': 'atox:ask'
  'ctrl-alt-t ctrl-alt-c': 'atox:chat'
  'ctrl-alt-t ctrl-alt-h': 'atox:history'
