// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import "./atox-vars";
@import "./atox-statusSelector";

#aTox-chatpanel {
  /* reset */
  h1, h2, h3, h4, p, div, table, ul, li, span, input {
    margin: 0;
    padding: 0;
  }
  #aTox-chatpanel-chathistory {
    height: 70px;
    padding: 2px;
    font-size: @font-size;
    p {
      color: @text-color;
    }
    overflow-y: scroll;
  }
  #aTox-chatpanel-input {
    height: 28px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.07);
    #aTox-chatpanel-input-status-con {
      display: block;
      float: left;
      width: 28px;
      .aTox-status-selector {
        .aTox-status-selector;
        display: block;
        float: left;
        margin: -( (@aTox-main-status-size - 28px) / 2 );
      }
    }
    atom-text-editor {
      margin-left: 28px;
      margin-right: 0;
      display: block;
    }
    #aTox-chatpanel-btn {
      float: right;
    }
  }
}
