// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import "./atox-vars";

#aTox-main-window {
  /* reset */
  h1, h2, h3, h4, p, div, table, ul, li, span {
    margin: 0;
    padding: 0;
    .ui;
  }
  background-color: @app-background-color;
  opacity: 0.8;
  position: fixed;
  width: @aTox-main-width;
  height: @aTox-main-height;
  z-index: 100;
  color: @text-color;
  //border: 2px solid #000;
  border-radius: 10px;
  padding: @aTox-main-space;
  overflow: hidden;

  #aTox-main-window-header {
    background-color: @tool-panel-background-color;
    display: block;
    height: @aTox-main-height * 0.1;
    border-radius: 5px;
    cursor: move;
    h1 {
      cursor: move;
      margin-left: 7px;
      display: inline-block;
      float: left;
      line-height: @aTox-main-height * 0.1;
    }
    #aTox-main-window-header-status-container {
      display: block;
      float: right;
      height: 20px;
      width: 20px;
      border-radius: 10px;
      margin-top: (@aTox-main-height * 0.1 - 20px) / 2;
      margin-right: (@aTox-main-height * 0.1 - 20px) / 2;
      .aTox-main-window-header-status {
        height: 10px;
        width: 10px;
        display: none;
      }
      #aTox-main-window-header-status-container-online {
        background-color: #0f0;
        border-top-left-radius: 10px;
        float: left;
      }
      #aTox-main-window-header-status-container-offline {
        background-color: #000;
        border-top-right-radius: 10px;
        float: right;
      }
      #aTox-main-window-header-status-container-busy {
        background-color: #f00;
        border-bottom-left-radius: 10px;
        float: left;
      }
      #aTox-main-window-header-status-container-away {
        background-color: #00f;
        border-bottom-right-radius: 10px;
        float: right;
      }
    }
    #aTox-main-window-header-status-container.online {
      background-color: #0f0;
    }
    #aTox-main-window-header-status-container.offline {
      background-color: #000;
    }
    #aTox-main-window-header-status-container.busy {
      background-color: #f00;
    }
    #aTox-main-window-header-status-container.away {
      background-color: #00f;
    }
    #aTox-main-window-header-status-container:hover {
      background-color: transparent;
      .aTox-main-window-header-status {
        display: block;
      }
    }
  }
  #aTox-main-window-contacts {
    position:      relative;
    background:    @tool-panel-background-color;
    border-radius: 5px;
    display:       block;
    height:        @aTox-main-height * 0.9 - 3 * @aTox-main-space;
    margin-top:    @aTox-main-space;
    overflow:      hidden;
  }

  transition: opacity 300ms;
}

#aTox-main-window.ui-draggable-dragging {
  opacity: 0.3;
}
