// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.ui { /* more gui like feeling for text */
  -webkit-user-select: none;
  cursor: default;
  white-space: pre;
}

@atox-main-width:       300px;
@atox-main-height:      350px;
@atox-main-space:       5px;
@atox-main-status-size: 70px;

// Contacts
@atox-Contacts-Base-Color:     darken( @tool-panel-background-color, 5% );
@atox-Contacts-Lighten-Factor: 10%;

@atox-chatbox-width:  300px;
@atox-chatbox-height: 350px;
@atox-chatbox-space:  5px;

@atox-Base-Q-Width:  300px;
@atox-Base-Q-Height: 150px;
@atox-Base-Q-Border: 5px;

@atox-Button-Height: 40px;
@atox-Button-Width:  80px;


// Notifications
@atox-not-opacity: 0.75;

@atox-not-font1:   150%;
@atox-not-font2:   130%;

@atox-not-Stop1:   6px;
@atox-not-Stop2:   10px;
@atox-not-Stop3:   75%;

@atox-not-Mix1:    75%;
@atox-not-Mix2:    20%;

@atox-not-Margin:  15px;

@atox-not-Height:  63px;
@atox-not-Max-Num: 12;
