// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import "./atox-vars";
@import "./atox-peerList";

@m1: @aTox-not-Mix1;
@m2: @aTox-not-Mix2;

@s1: @aTox-not-Stop1;
@s2: @aTox-not-Stop2;
@s3: @aTox-not-Stop3;

.aTox-chatbox {
  /* reset */
  h1, h2, h3, h4, p, div, table, ul, li, span {
    margin: 0;
    padding: 0;
    .ui;
  }
  background-color: @app-background-color;
  opacity: 0.9;
  position: fixed;
  bottom: 50px; right: 50px;
  width: @aTox-chatbox-width;
  height: @aTox-chatbox-height;
  z-index: 100;
  color: @text-color;
  //border: 2px solid #000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  .aTox-chatbox-header {
    margin:       @aTox-chatbox-space;
    border-radius: 5px;
    overflow:      hidden;
    display:       flex;
    align-items:   center;
    height:       @aTox-chatbox-height * 0.1;
    cursor:        move;
    h1 {
      margin-left: 15px;
      cursor: move;
    }
  }



  .aTox-chatbox-header-online {
    .aTox-chatbox-header;

    @c0: @background-color-success;
    @c1: mix( @c0, @bg, @m1 );
    @c2: mix( @c0, @bg, @m2 );
    @bg: @tool-panel-background-color;

    h1 {color: @text-color-success;}
    background: -webkit-linear-gradient( left, @c0 0px, @c1 @s1, @c2 @s2, @bg @s3);
  }

  .aTox-chatbox-header-offline {
    .aTox-chatbox-header;

    background: @aTox-Contacts-Base-Color;
  }

  .aTox-chatbox-header-away {
    .aTox-chatbox-header;

    @c0: @background-color-warning;
    @c1: mix( @c0, @bg, @m1 );
    @c2: mix( @c0, @bg, @m2 );
    @bg: @tool-panel-background-color;

    h1 {color: @text-color-warning;}
    background: -webkit-linear-gradient( left, @c0 0px, @c1 @s1, @c2 @s2, @bg @s3);
  }

  .aTox-chatbox-header-busy {
    .aTox-chatbox-header;

    @c0: @background-color-error;
    @c1: mix( @c0, @bg, @m1 );
    @c2: mix( @c0, @bg, @m2 );
    @bg: @tool-panel-background-color;

    h1 {color: @text-color-error;}
    background: -webkit-linear-gradient( left, @c0 0px, @c1 @s1, @c2 @s2, @bg @s3);
  }

  .aTox-chatbox-header-group {
    .aTox-chatbox-header;

    @c0: @background-color-info;
    @c1: mix( @c0, @bg, @m1 );
    @c2: mix( @c0, @bg, @m2 );
    @bg: @tool-panel-background-color;

    h1 {color: @text-color-info;}
    background: -webkit-linear-gradient( left, @c0 0px, @c1 @s1, @c2 @s2, @bg @s3);
  }



  .aTox-chatbox-chathistory {
    background-color: @tool-panel-background-color;
    border-radius:    5px;
    display:          flex;
    margin-left:      @aTox-chatbox-space;
    margin-right:     @aTox-chatbox-space;
    overflow-y:       scroll;
    flex-grow:        1;
    flex-direction:   column;

    span.historyName {
      font-weight: bold;
      margin-left: 5px;
      margin-top:  5px;
      -webkit-user-select: text;
    }

    span {
      cursor: text;
      -webkit-user-select: text;
    }
  }
  .aTox-chatbox-textfield {
    border-radius: 5px;
    margin-top:   @aTox-chatbox-space;
    margin-left:  @aTox-chatbox-space;
    margin-right: @aTox-chatbox-space;
    height: 28px;
  }

  .aTox-chatbox-resizeHandler {
    width:      @aTox-chatbox-space * 2;
    height:     @aTox-chatbox-space * 2;
    cursor:      se-resize;
    margin-left: auto;
    margin-top:-@aTox-chatbox-space;
  }

  .aTox-PeerList {
    margin-top: @aTox-chatbox-space;
    margin-left: @aTox-chatbox-width - @aTox-chatbox-space;
    width: @aTox-chatbox-width * 0.25 - @aTox-chatbox-space;
    height: @aTox-chatbox-height - @aTox-chatbox-space * 4 - @aTox-chatbox-height * 0.1 - 28px;

    .aTox-PeerList;
  }

  transition: opacity 300ms;
}

.aTox-chatbox.ui-draggable-dragging {
  opacity: 0.3;
}
