// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import "./atox-vars";

.aTox-Button-BASE {
  position:    absolute;
  height:      @aTox-Button-Height;
  line-height: @aTox-Button-Height;
  width:       @aTox-Button-Width;

  border-radius: 10px;
  z-index:       100;

  color:      @text-color;
  font-size:  150%;
  text-align: center;

  transition: background 175ms, color 175ms;
}


.aTox-Button-accept {
  @baseColor: mix( @background-color-info, @overlay-background-color, 25% );

  background: -webkit-linear-gradient(
    top,
    darken(  @baseColor, 2% ) 0px,
    lighten( @baseColor, 2% ) 49%,
    darken(  @baseColor, 1% ) 51%,
    darken(  @baseColor, 4% ) 100%);

  .aTox-Button-BASE;
}

.aTox-Button-accept:hover {
  @baseColor: mix( @background-color-info, @overlay-background-color, 75% );

  background: -webkit-linear-gradient(
    top,
    darken(  @baseColor, 2% ) 0px,
    lighten( @baseColor, 2% ) 49%,
    darken(  @baseColor, 1% ) 51%,
    darken(  @baseColor, 4% ) 100%);

  color: darken( @text-color, 75% );
}

.aTox-Button-decline {
  @baseColor: mix( @background-color-error, @overlay-background-color, 25% );

  background: -webkit-linear-gradient(
    top,
    darken(  @baseColor, 2% ) 0px,
    lighten( @baseColor, 2% ) 49%,
    darken(  @baseColor, 1% ) 51%,
    darken(  @baseColor, 4% ) 100%);

  .aTox-Button-BASE;
}

.aTox-Button-decline:hover {
  @baseColor: mix( @background-color-error, @overlay-background-color, 75% );

  background: -webkit-linear-gradient(
    top,
    darken(  @baseColor, 2% ) 0px,
    lighten( @baseColor, 2% ) 49%,
    darken(  @baseColor, 1% ) 51%,
    darken(  @baseColor, 4% ) 100%);

  color: darken( @text-color, 75% );
}

.aTox-Question {
  h1, h2, h3, h4, p, div, table, ul, li, span {
    margin: 0;
    padding: 0;
    .ui;
  }

  width:  @aTox-Base-Q-Width;
  height: @aTox-Base-Q-Height;

  border-radius: 10px;

  position: absolute;
  left:     0;
  right:    0;

  margin:   auto;

  top:      50px;

  z-index:  100;
  opacity:  0.9;

  background:   @overlay-background-color;
  border:       @aTox-Base-Q-Border solid @background-color-highlight;

  //overflow:     hidden;

  .aTox-Question-name {
    color: @text-color-info;
    font-size: 200%;

    position: absolute;
    left:     15px;
    top:      7px;

    margin-bottom: 10px;
  }

  .aTox-Question-question {
    color: @text-color;
    font-size: 150%;

    position:      absolute;
    left:          10px;
    top:           37px;
    margin-bottom: 5px;
  }

  .aTox-Question-buttons {
    position: absolute;
    width:    @aTox-Base-Q-Width - 2 * @aTox-Base-Q-Border;
    bottom:   20px;
    height:   40px;
  }
}
