// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import "./atox-vars";
@import "./atox-statusSelector";

.aTox-chatpanel {
  /* reset */
  h1, h2, h3, h4, p, div, table, ul, li, span, input {
    margin: 0;
    padding: 0;
  }
  .aTox-chatpanel-history-box {
    height: 70px;
    white-space: pre;
    overflow-y: hidden;
    .aTox-chatpanel-settings {
      display: block;
      position: absolute;
      top: 5px;
      right: 7px;
      cursor: pointer;
      opacity: 0;
      transition: opacity 0.4s;
    }
    .aTox-chatpanel-border {
      height: 2px;
      background-color: @tool-panel-border-color;
      cursor: ns-resize;
    }
    .aTox-chatpanel-chat-overview {
      display: block;
      height: inherit;
      width: 28px;
      background-color: @base-background-color;
      float: left;
      .aTox-chatpanel-chat-status {
        list-style: none;
        display: block;
        height: 27px;
        width: 28px;
        border-top: 1px solid #000;
        background-size: 100% 100%;
      }
    }
    .aTox-chatpanel-chats {
      display: block;
      margin-left: 28px;
      padding-left: 4px;
      padding-bottom: 4px;
      padding-top: 4px;
      height: inherit;
      overflow-y: scroll;
      background-color: #1d1f21;
      .aTox-chatpanel-chat {
        //height: inherit;
        display: none;
        float: left;
      }
      p {
        font-size: @font-size;
        color: @text-color;
      }
      a {
        color: #00f;
      }
    }
    .aTox-chatpanel-groupchat-ulist {
      display: none;
      width: 125px;
      height: inherit;
      float: right;
      background-color: @base-background-color;
      .aTox-chatpanel-groupchat-ulist-border {
        width: 2px;
        height: inherit;
        background-color: @tool-panel-border-color;
        cursor: ew-resize;
      }
      .aTox-chatpanel-groupchat-ulist-con {
        display: none;
      }
    }
/*
      .aTox-chatpanel-chat {
        height: 0;
        list-style: none;
        overflow: visible;
        .aTox-chatpanel-chat-status {
          float: left;
          height: 28px;
          width: 28px;
          background-color: #fff;
          border: 1px solid rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.07);
        }
        .aTox-chatpanel-chathistory {
          //position: absolute;
          background-color: #1d1f21;
          margin-left: 30px;
          padding-top: 2px;
          padding-left: 4px;
          overflow-y: scroll;
          //height: inherit;
          display: none;
          padding-bottom: 2px;
        }
      }
      .aTox-chatpanel-chat.selected {
        .aTox-chatpanel-chathistory {
          display: block;
        }
      }
    }*/
  }
  .aTox-chatpanel-history-box:hover .aTox-chatpanel-settings {
    opacity: 1;
    transition: opacity 0.1s;
  }
  .aTox-chatpanel-input {
    height: 28px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.07);
    .aTox-chatpanel-input-status-con {
      display: block;
      float: left;
      width: 28px;

      .aTox-status-selector {
        .aTox-status-selector;
        #aTox-panel-status-selector-current {
          width: 14px;
          height: 14px;
          margin: 28px;
        }
        display: block;
        float: left;
        margin: -( (@aTox-main-status-size - 28px) / 2 );

        z-index: 90;
      }
    }
    atom-text-editor {
      margin-left: 28px;
      margin-right: 0;
      display: block;
    }
    .aTox-chatpanel-btn {
      float: right;
    }
  }
}
