// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import "./atox-vars";

@height: 300px;
@width:  500px;

.aTox-GitHubLogin-root {
  color: @text-color;
  overflow: auto;

  h1 {
    text-align:   center;
    padding-left: 30px;
    transition:   color 500ms;
  }

  div.loading {
    float:         right;
    margin-right:  10px;
    width:         20px;
    opacity:       0;
    transition:    opacity 300ms;
  }

  div.loading.working {
    opacity: 1;
  }

  .form {
    background-color: @aTox-Contacts-Base-Color;
    border-radius:    5px;
    padding:          7px;
    padding-bottom:   1px;
    margin-bottom:    10px;

    h2 {
      text-align: center;
      transition: color 500ms;
      margin-top: 0px;
    }

    atom-text-editor[placeholder-text="Username"] {
      margin-bottom: 3px;
    }
    atom-text-editor[placeholder-text="Password"] {
      margin-bottom: 9px;
    }
    atom-text-editor[placeholder-text="Password"]::shadow .lines span {
      -webkit-text-security: disc;
    }

    atom-text-editor {
      margin-bottom: 0px;
    }
  }

  .btn1 {
    margin-left:  40px;
  }

  .btn2 {
    margin-right: 40px;
    float:         right;
  }

  transition: opacity 300ms;

  h1.working {color: @text-color-info;}
  h2.working {color: @text-color-info;}

  h1.error   {color: @text-color-error;}
  h2.error   {color: @text-color-error;}

  h1.success {color: @text-color-success;}
  h2.success {color: @text-color-success;}
}
